:host {
    width: fit-content;
    display: flex;
}

div {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

::ng-deep {
    input {
        margin: 0;
        padding: 8px;
        color: darkblue;
        border: 1px solid;
    }
}